// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;

$background: #F4F1DE;
$primary: #3D405B;
$secondary: #E07A5F;
$supportingGreen: #81B29A;
$supportingYellow: #F2CC8F;
